@use "./variables" as *;
@use "./fonts" as *;
@use "./mixins" as *;
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 100%;
  font-family: "Avenir Next", Verdana, Geneva, Tahoma, sans-serif;
}
.nav {
  background-color: $bandsite-black;
  color: $white;
}

.nav__logo {
  display: flex;
  flex-direction: column;
  color: $white;
  font-size: 0px;
  line-height: 32px;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.nav__item1 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: $white;
}

.nav__item2 {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
  color: $white;
  padding-right: 10px;
}

.hero__image {
  background-image: url(../assets/images/hero-bio.jpg);
  width: 100%;
  height: 10rem;
  background-color: $bandsite-black;
  opacity: 100%;
  background-position: center;
  background-size: cover;
}

.hero__text {
  color: $white;
}

.band {
  color: $bandsite-black;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding-top: 20px;
}

.band-image {
  width: 100%;
}

.quote {
  color: $bandsite-black;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

h3 {
  color: $bandsite-black;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

p {
  color: $bandsite-black;
  font-size: 15px;
  line-height: 19px;
  font-weight: 500;
}

.gallery {
  background-color: $alabaster;
}

.gallery-text {
  color: $bandsite-black;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 12px;
}

.band-image-1 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-2 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-3 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-4 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-5 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-6 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-7 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-8 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-9 {
  width: 100%;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

footer {
  background-color: $bandsite-black;
  width: 100%;
}

.social__contact {
  color: $white;
  font-size: 25px;
  padding-top: 25px;
  padding-left: 12px;
}

.instagram__icon {
  padding-left: 12px;
  padding-right: 20px;
}

.facebook__icon {
  padding-right: 20px;
}
.name {
  color: $white;
  padding-left: 12px;
}

.organization {
  color: $white;
  padding-left: 12px;
}

.occupation {
  color: $white;
  padding-left: 12px;
}

.address {
  color: $white;
  padding-left: 12px;
}

.email {
  color: $white;
  padding-left: 12px;
}

.title {
  color: $white;
  font-size: 30px;
  padding-left: 10px;
  font-weight: lighter;
}

.rights-reserved {
  color: $white;
  font-size: 12px;
  padding-bottom: 20px;
  padding-left: 12px;
}

.nav {
  background-color: $bandsite-black;
  color: $white;
  &__logo {
    background-color: $bandsite-black;
    color: $white;
    display: flex;
    flex-direction: column;
    color: $white;
    font-size: 0px;
    line-height: 32px;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;

    @include tablet {
      min-width: 768px $tablet-breakpoint;
    }
    @include desktop {
      min-width: 1280px $desk-breakpoint;
    }
  }
  &__item1 {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: $white;

    @include tablet {
      min-width: 768px $tablet-breakpoint;
    }
    @include desktop {
      min-width: 1280px $desk-breakpoint;
    }
  }
}

.footer {
  background-color: $bandsite-black;
  width: 100%;
  &__contact {
    color: $white;
    font-size: 25px;
    padding-top: 25px;
    padding-left: 12px;
    @include tablet {
      min-width: 768px $tablet-breakpoint;
    }
    @include desktop {
      min-width: 1280px $desk-breakpoint;
    }
  }
  &__icon {
    padding-left: 12px;
    padding-right: 20px;
    @include tablet {
      min-width: 768px $tablet-breakpoint;
    }
    @include desktop {
      min-width: 1280px $desk-breakpoint;
    }
  }
  &__name {
    color: $white;
    padding-left: 12px;
    @include tablet {
      min-width: 768px $tablet-breakpoint;
    }
    @include desktop {
      min-width: 1280px $desk-breakpoint;
    }
  }
  &__organization {
    color: $white;
    padding-left: 12px;
    @include tablet {
      min-width: 768px $tablet-breakpoint;
    }
    @include desktop {
      min-width: 1280px $desk-breakpoint;
    }
  }
  &__occupation {
    color: $white;
    padding-left: 12px;
    @include tablet {
      min-width: 768px $tablet-breakpoint;
    }
    @include desktop {
      min-width: 1280px $desk-breakpoint;
    }
  }
  &__address {
    color: $white;
    padding-left: 12px;
    @include tablet {
      min-width: 768px $tablet-breakpoint;
    }
    @include desktop {
      min-width: 1280px $desk-breakpoint;
    }
  }
  &__email {
    color: $white;
    padding-left: 12px;
    @include tablet {
      min-width: 768px $tablet-breakpoint;
    }
    @include desktop {
      min-width: 1280px $desk-breakpoint;
    }
  }
  &__title {
    color: $white;
    font-size: 30px;
    padding-left: 10px;
    font-weight: lighter;
    @include tablet {
      min-width: 768px $tablet-breakpoint;
    }
    @include desktop {
      min-width: 1280px $desk-breakpoint;
    }
  }
  &__reserved {
    color: $white;
    font-size: 12px;
    padding-bottom: 20px;
    padding-left: 12px;
    @include tablet {
      min-width: 768px $tablet-breakpoint;
    }
    @include desktop {
      min-width: 1280px $desk-breakpoint;
    }
  }
}
