@use "./variables" as *;
@use "./fonts" as *;
@use "./mixins" as *;
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 100%;
  font-family: "Avenir Next", Verdana, Geneva, Tahoma, sans-serif;
}
.nav {
  background-color: $bandsite-black;
  color: $white;
}

.nav__logo {
  display: flex;
  flex-direction: column;
  color: $white;
  font-size: 0px;
  line-height: 32px;
  font-weight: bold 700px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.nav__item1 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: $white;
}

.nav__item2 {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
  color: $white;
}

.hero-image {
  width: 100%;
}

.hero-logo {
  text-align: left;
  color: $bandsite-black;
}

.band {
  color: $bandsite-black;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700px;
}

.band-image {
  width: 100%;
}

.quote {
  color: $bandsite-black;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600px;
}

h3 {
  color: $bandsite-black;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

p {
  color: $bandsite-black;
  font-size: 15px;
  line-height: 19px;
  font-weight: 500px;
}

.gallery {
  background-color: $alabaster;
}

.gallery-text {
  color: $bandsite-black;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700px;
}

.band-image-1 {
  width: 100%;
}

.band-image-2 {
  width: 100%;
}

.band-image-3 {
  width: 100%;
}

.band-image-4 {
  width: 100%;
}

.band-image-5 {
  width: 100%;
}

.band-image-6 {
  width: 100%;
}

.band-image-7 {
  width: 100%;
}

.band-image-8 {
  width: 100%;
}

.band-image-9 {
  width: 100%;
}

footer {
  background-color: $bandsite-black;
}

.social__contact {
  color: $white;
}

.name {
  color: $white;
}

.organization {
  color: $white;
}

.occupation {
  color: $white;
}

.address {
  color: $white;
}

.email {
  color: $white;
}

.title {
  color: $white;
}

.rights-reserved {
  color: $white;
}
