$tablet: 768px;
$destop: 1280px;
$bandsite-black: #323232;
$silver: #afafaf;
$white: #ffffff;
$bandsite-darkblack: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
