@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
  font-family: "Avenir Next", Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
  background-color: #323232;
  color: #ffffff;
}

.nav__logo {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 0px;
  line-height: 32px;
  font-weight: bold 700px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.nav__item1 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #ffffff;
}

.nav__item2 {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
  color: #ffffff;
}

.hero-image {
  width: 100%;
}

.hero-logo {
  text-align: left;
  color: #323232;
}

.band {
  color: #323232;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700px;
}

.band-image {
  width: 100%;
}

.quote {
  color: #323232;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600px;
}

h3 {
  color: #323232;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

p {
  color: #323232;
  font-size: 15px;
  line-height: 19px;
  font-weight: 500px;
}

.gallery {
  background-color: #fafafa;
}

.gallery-text {
  color: #323232;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold 700px;
  padding-bottom: 12px;
}

.band-image-1 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-2 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-3 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-4 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-5 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-6 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-7 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-8 {
  width: 100%;
  padding-bottom: 12px;
}

.band-image-9 {
  width: 100%;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

footer {
  background-color: #323232;
}

.social__contact {
  color: #ffffff;
  font-size: 25px;
  padding-top: 25px;
  padding-left: 12px;
}

.instagram__icon {
  padding-left: 12px;
  padding-right: 20px;
}

.facebook__icon {
  padding-right: 20px;
}

.name {
  color: #ffffff;
  padding-left: 12px;
}

.organization {
  color: #ffffff;
  padding-left: 12px;
}

.occupation {
  color: #ffffff;
  padding-left: 12px;
}

.address {
  color: #ffffff;
  padding-left: 12px;
}

.email {
  color: #ffffff;
  padding-left: 12px;
}

.title {
  color: #ffffff;
  font-size: 35px;
  padding-left: 10px;
}

.rights-reserved {
  color: #ffffff;
  font-size: 12px;
  padding-bottom: 20px;
  padding-left: 12px;
}/*# sourceMappingURL=bio.css.map */